node_modules
.git_corrupt
.git_old
update_whatsapp_links.py
inject_widgets.py
# Ignore other potentially large or temporary files
*.zip
*.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
